<div class="container"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0">
  <div class="td-ctl" fxFlex="95%">
      <!-- <md-card> -->
      <div class="tablecontainer">
      	<div class="tableheader tablehead">
      		<div class="main-th" style="width: 75px;">
      		<span style="padding-left: 5px;">Name</span>
      		</div>
      		<div class="main-th" style="width: 176px;">
      		<span>Father Name</span>
      		</div>
      		<div class="main-th" style="width: 254px;">
      		<span>Email</span>
      		</div>
      		<div class="main-th" style="width: 254px;">
      		<span>Adress</span>
      		</div>
      		<div class="main-th" style="width: 150px;">
      		<span>Phone no</span>
      		</div>
      		<div class="main-th" >
      		<span>Join Date</span>
      		</div>
      		<div class="main-th">
      		<span>Renew</span>
      		</div>
      	</div>
      	<div class="table-content">
      		<table class="table-content">
      			<tbody style="position: relative;">
      				<tr>
      					<td>amit</td>
      					<td>karanvir singh</td>
      					<td>amit.suhag@gmail.com</td>
      					<td>House no-937, Ward no-1</td>
      					<td>9728578768</td>
      					<td>10/10/2017</td>
      					<td><a md-raised-button color="primary">Renew</a></td>
      					<!-- <td>amit</td> -->
      				</tr>
      			</tbody>
      		</table>
      	</div>
      	</div>
      <!-- </md-card> -->
  </div>
  <!-- <div class="item item-2" fxFlex="25%">   
  </div> -->
</div>